/* header*/

.navFixed {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all 1s;
}

.navFixed.showIn {
    transform: translateY(0);
}

.header {
    width: 100%;
    height: 65px;
    background-color: #fff;
    font-family: 'Noto Sans TC';
    transition: all 1s;
}

.header .container-fluid {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}


/* logo */

.header .logo {
    width: 150px;
}

.header .logo a {
    display: block;
}

.header .logo img {
    width: 100%;
}


/* 選單 nav-all list-all*/

.header .list-all li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
}

.header .list-all>li>a {
    font-size: 14px;
    color: #0D3143;
    text-decoration: none;
    position: relative;
}

.header .list-all>li>a::after {
    content: '';
    width: 60px;
    height: 1.5px;
    background-color: #0D3143;
    position: absolute;
    left: -1px;
    top: 25px;
    opacity: 0;
    transform: scale(0.5, 1);
    transition: 0.4s;
}

.header .list-all>li>a:hover::after {
    content: "";
    opacity: 1;
    transform: scale(1, 1);
}


/* nav_member*/

.header .list-member li {
    display: inline-block;
    margin-top: 15px;
}

.header .list-member a {
    display: block;
    margin: 0 2px;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.header .list-member li:first-child a {
    background-image: url(../img/cart.svg);
}

.header .list-member li:nth-child(2) a {
    background-image: url(../img/member.svg);
}

.header .list-member li:last-child a {
    background-image: url(../img/message.svg);
}

.header .list-member li:first-child a:hover {
    background-image: url(../img/cart_color.svg);
}

.header .list-member li:nth-child(2) a:hover {
    background-image: url(../img/member_color.svg);
}

.header .list-member li:last-child a:hover {
    background-image: url(../img/message_color.svg);
}


/* menu-btn 漢堡欄*/

#menu-control,
.menu-btn,
.nav-all li .nav-member {
    display: none;
}


/* 手機版 */

@media screen and (max-width: 767px) {
    .container-fluid>.nav-member {
        display: none;
    }
    /* 漢堡欄 */
    .menu-btn {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .menu-btn::before {
        content: "";
        width: 30px;
        height: 2px;
        background-color: #0D3143;
        box-shadow: 0px 8px 0px #0D3143, 0px -8px 0px #0D3143;
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    /* 選單 */
    /* 手機版選單消失 left: -100%*/
    .nav-all {
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #0D3143;
        position: absolute;
        top: 50px;
        /* left: -100%; */
        transition: 0.5s;
        z-index: 10;
    }
    .nav-all .list-all li {
        display: block;
        width: 100%;
        margin: 0;
    }
    .nav-all .list-all li a {
        display: block;
        padding: 22px 0px 38px;
        color: #f8f8f8;
        text-align: center;
        position: relative;
    }
    .nav-all .list-all li a span {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .nav-all .list-all>li>a::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #3D5A68;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(0.5, 1);
        transition: 0.5s;
    }
    /* 按選單hover效果 */
    .nav-all .list-all>li>a:hover::before {
        opacity: 1;
        transform: scale(1, 1);
    }
    /* 消除桌機的hover效果 */
    .nav-all .list-all>li>a:hover::after {
        content: "";
        width: 0;
        height: 0;
    }
    /* 按漢堡會出現選單 */
    #menu-control:checked~.nav-all {
        left: 0;
    }
    /* 會員icon */
    .nav-all li .nav-member {
        display: block;
        margin-top: 5px;
    }
    .nav-all li .list-member {
        display: flex;
        justify-content: center;
    }
    .nav-all li .list-member li {
        display: block;
        width: 40px;
        margin: 0 5px;
    }
    .nav-all li .list-member a {
        display: block;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}